<footer class="footer p_y">
      <div class="container">
        <div class="row">
          <div class="main_footer">
            <div class="row">
              <div class="col-lg-5 col-md-6 col-12 mb-md-4">
                <div class="company_bio">
                  <div class="footer_logo">
                    <a href="#"><img src="{{ section.settings.footer-logo | img_url: '1024x1024' }}" alt="img"></a>
                  </div>
                  <p>
                   {{ section.settings['footer-desc'] }}</p>
                </div>
              </div>

              <div class="col-lg-2 col-md-6 col-12 mb-md-4">
                <div class="footer_link_list">
                  <div class="title-head">
                    <h4>Quick Links</h4>
                  </div>
                   

<ul class="quick_links">
   {% for link in linklists.footer_menu.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
                </ul>



                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12 mb-md-4">
                
                {{ section.settings['footer_contact'] }}
                
              </div>
              <div class="col-lg-2 col-md-6 col-12 mb-md-4">

                
                {{ section.settings['footer_icons'] }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright_bar">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>© 2022 xclusivecars | All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

{% schema %}

{
  "name": "Footer Settings",
  "settings": [
    
    {
      "type": "image_picker",
      "id": "footer-logo",
      "label": "Footer Logo"
    },
    {
      "type": "textarea",
      "id": "footer-desc",
      "label": "Footer Description"
    },
    {
    
    "type": "html",
    "id": "footer_icons",
    "label": "Footer icons"
    
    },
    {
    
    "type": "html",
    "id": "footer_contact",
    "label": "Footer Contact"
    
    }
    
  ]
}

{% endschema %}